Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/ThirdPersonBP/Maps/ThirdPersonExampleMap.umap
Content/BAISE.uasset
Content/StarterContent/Architecture/Floor_400x400.uasset
Content/ThirdPersonBP/Maps/ThirdPersonExampleMap.umap
Monjeu.uproject
*.uasset
*.uasset
